<h2>Cadastro de item no cardápio</h2>

<form [formGroup]="meuForm" (ngSubmit)="onAtualizar()">
  <div class="card">
    <div class="p-fluid">
      <div class="p-field">
        <p>
          <label for="nome">Nome:</label>
          <input pInputText id="nome" type="text" formControlName="nome" required />
        </p>
      </div>
      <div class="p-field">
        <p>
          <label for="preco">Preço:</label>
          <input pInputText id="preco" type="number" formControlName="preco" required />
        </p>
      </div>
      <div class="p-field">
        <p>
          <label for="desconto">Desconto:</label>
          <input pInputText id="desconto" type="text" formControlName="desconto"/>
        </p>
      </div>
      <div class="p-field">
        <p>
          <label for="descricao">Descrição:</label>
          <input pInputText id="descricao" type="text" formControlName="descricao" required />
        </p>
      </div>
      <div class="p-field">
        <p>
          <label for="ingredientes">Ingredientes:</label>
          <input pInputText id="ingredientes" type="text" formControlName="ingredientes" required />
        </p>
      </div>




    </div>
    <div>
      <p>
        <button *ngIf="!isNew" pButton type="submit" label="Atualizar" [disabled]="!meuForm.valid"></button>
        <button *ngIf="isNew" pButton type="button" label="Novo" (click)="onIncluir()" [disabled]="!meuForm.valid"></button>&nbsp;
        <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="onCancelar()"></button>&nbsp;
        <button *ngIf="!isNew" pButton type="button" label="Apagar" class="p-button-danger" (click)="onExcluir()"></button>
      </p>
    </div>
  </div>
</form>
<p>{{ mensagemErro }}</p>
